*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(36, 40, 47);
  --secondary-color: rgb(61 62 68);
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  background: var(--primary-color);
}

.main {
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
}
