*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(0, 85, 25);
  --secondary-color: rgb(61 62 68);
}

html {
  font-size: 16px;
  background: var(--primary-color);
}

body {
  margin: 0;
}

.main {
  padding: 30px 20px;
  text-align: center;
}
.searchbar {
  margin: 10px 10px;
  border-radius: 10px;
  height: 2rem;
  border: none;
}
